<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- HTML Meta Tags -->
        <title><%= post.title %></title>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

        <!-- Scripts -->
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="p-4 m-auto bg-zinc-900 text-white">
        <nav id="desktop-nav" class="hidden sm:block px-3 py-2 text-gray-400 text-md bg-zinc-800 border border-2 border-gray-600 rounded-lg mb-2">
            <span class="font-bold"><a href="/">William's Blog</a> > Posts > <a href="http://localhost/post/<%= post._id %>"><%= post._id.slice(0, 8) %></a></span>

            <span class="float-right text-sm leading-6 items-center">
                <span class="hover:text-gray-500" title="Author"><a href="/author/<%= post.author %>"><i class="fa-solid fa-user mr-1"></i><span id="desktop-author"><%= author.firstName %> <%= author.lastName %></span></a></span>
                <span class="mx-1 text-white">&bull;</span>
                <span title="Published: <%= moment.unix(post.timestamp / 1000).format('Do MMMM YYYY, h:mma') %>"><i class="fa-solid fa-clock mr-1"></i><%= moment.unix(post.timestamp / 1000).fromNow() %></span>

                <% if(post.editedTimestamp !== null) { %>
                    <span class="mx-1 text-white">&bull;</span>
                    <span title="Edited: <%= moment.unix(post.editedTimestamp / 1000).format('Do MMMM YYYY, h:mma') %>"><i class="fa-solid fa-pencil mr-1"></i><%= moment.unix(post.editedTimestamp / 1000).fromNow() %></span>
                <% } %>
            </span>

            <% if(session.loggedIn && session.username === post.author) { %>
                <script>document.getElementById("desktop-author").innerHTML = "You";</script>
            <% } %>
        </nav>

        <nav id="mobile-nav-1" class="block sm:hidden px-3 py-2.5 text-gray-400 text-sm bg-zinc-800 border border-2 border-gray-600 rounded-lg mb-2 text-center">
            <span class="font-bold"><a href="/">William's Blog</a> > Posts > <a href="http://localhost/post/<%= post._id %>"><%= post._id.slice(0, 8) %></a></span>
        </nav>

        <nav id="mobile-nav-2" class="block sm:hidden px-3 py-2.5 text-gray-400 text-sm bg-zinc-800 border border-2 border-gray-600 rounded-lg mb-2 text-center">
            <span class="hover:text-gray-500" title="Author"><a href="/author/<%= post.author %>"><i class="fa-solid fa-user mr-1"></i><span id="mobile-2-author"><%= author.firstName %></span></a></span>
            <span class="mx-1 text-white">&bull;</span>
            <span onclick="alert(`Published: <%= moment.unix(post.timestamp / 1000).format('Do MMMM YYYY, h:mma') %>`)" title="Published: <%= moment.unix(post.timestamp / 1000).format('Do MMMM YYYY, h:mma') %>" class="cursor-pointer"><i class="fa-solid fa-clock mr-1"></i><%= moment.unix(post.timestamp / 1000).fromNow() %></span>

            <% if(post.editedTimestamp !== null) { %>
                <span class="mx-1 text-white">&bull;</span>
                <span onclick="alert(`Edited: <%= moment.unix(post.editedTimestamp / 1000).format('Do MMMM YYYY, h:mma') %>`)" title="Edited: <%= moment.unix(post.editedTimestamp / 1000).format('Do MMMM YYYY, h:mma') %>" class="cursor-pointer"><i class="fa-solid fa-pencil mr-1"></i><%= moment.unix(post.editedTimestamp / 1000).fromNow() %></span>
            <% } %>

            <% if(session.loggedIn && session.username === post.author) { %>
                <script>document.getElementById("mobile-2-author").innerHTML = "You";</script>
            <% } %>
        </nav>

        <header class="text-center mb-4">
            <h1 class="text-4xl font-bold"><%= post.title %></h1>
            <p class="text-sm"><%= post.description %></p>

            <% if(session.loggedIn && session.username === post.author) { %>
                <div class="mt-2">
                    <a href="/post/edit/<%= post._id %>" class="text-yellow-600 hover:text-yellow-700 mr-2"><i class="fa-solid fa-pencil mr-1"></i>Edit</a>
                    <a href="/post/delete/<%= post._id %>" class="text-red-600 hover:text-red-700"><i class="fa-solid fa-trash mr-1"></i>Delete</a>
                </div>
            <% } %>

            <% if(post.image) { %>
                <img class="h-72 mt-4 mx-auto rounded-lg" src="<%= post.image %>" alt="<%= post.title %>" draggable="false">
            <% } %>
        </header>

        <hr class="h-0.5 mt-4 mb-2 bg-gray-700 border-none">

        <main>
            <div id="body" class="text-center sm:text-left"><%= post.body %></div>
        </main>
    </body>

    <script>
		const body = document.getElementById("body");

        function replaceHeadings(text) {
            const regex = /^(#{1,3})\s*(.*)$/gm;

            const replacedText = text.replace(regex, function(match, p1, p2) {
                if(p1 === "#") {
                    return `<h1 class="font-bold text-3xl">${p2}</h1>`;
                } else if(p1 === "##") {
                    return `<h2 class="font-bold text-2xl">${p2}</h2>`;
                } else if(p1 === "###") {
                    return `<h3 class="font-bold text-xl">${p2}</h3>`;
                }

                return match;
            })

            return replacedText;
        }

        function replaceBoldText(text) {
            const regex = /\*\*([^*]+)\*\*/g;
            const replacedText = text.replace(regex, "<strong>$1</strong>");

            return replacedText;
        }

        function replaceItalicText(text) {
            const regex = /\*([^*]+)\*/g;
            const replacedText = text.replace(regex, "<em>$1</em>");

            return replacedText;
        }

        function replaceUnderlineText(text) {
            const regex = /__(.*?)__/g;
            const replacedText = text.replace(regex, "<u>$1</u>");

            return replacedText;
        }

        function replaceBoldItalicText(text) {
            const regex = /\*\*\*([^*]+)\*\*\*/g;
            const replacedText = text.replace(regex, "<strong><em>$1</em></strong>");

            return replacedText;
        }

        function replaceLinks(text) {
            const regex = /(\([^)]*\))|((?:https?:\/\/|www\.)[^\s()]+)/g;

            const replacedText = text.replace(regex, function(match, p1, p2) {
                return p1 ? match : `<a href="${p2}" class="text-blue-600 hover:text-blue-700">${p2} <i class="fa-solid fa-arrow-up-right-from-square text-sm text-gray-400 mr-0.5"></i></a>`;
            })

            return replacedText;
        }

        function replaceHyperlinks(text) {
            const regex = /\[([^[\]]+)\]\((https?:\/\/[^)]+)\)/g;
            const replacedText = text.replace(regex, '<a href="$2" class="text-blue-600 hover:text-blue-700">$1 <i class="fa-solid fa-arrow-up-right-from-square text-sm text-gray-400 mr-0.5"></i></a>');

            return replacedText;
        }

        function replaceQuotes(text) {
            const regex = /`([^`]+)`/g;
            const replacedText = text.replace(regex, '<code class="bg-gray-700 px-1.5 py-0.5 rounded-md">$1</code>');

            return replacedText;
        }

        function replaceList(text) {
            const regex = /- (.+)/g;
            const replacedText = text.replace(regex, '<ul class="list-inside list-disc mx-auto"><li>$1</li></ul>');

            return replacedText;
        }

        function replaceLineBreaks(text) {
            const regex = /(\r\n|\n\r|\r|\n)(?!\S)/g;
            const replacedText = text.replace(regex, "<br><br>");

            return replacedText;
        }

        body.innerHTML = replaceHeadings(body.innerHTML);
        body.innerHTML = replaceBoldText(body.innerHTML);
        body.innerHTML = replaceItalicText(body.innerHTML);
        body.innerHTML = replaceUnderlineText(body.innerHTML);
        body.innerHTML = replaceBoldItalicText(body.innerHTML);
        body.innerHTML = replaceLinks(body.innerHTML);
        body.innerHTML = replaceHyperlinks(body.innerHTML);
        body.innerHTML = replaceQuotes(body.innerHTML);
        body.innerHTML = replaceList(body.innerHTML);
        body.innerHTML = replaceLineBreaks(body.innerHTML);
	</script>
</html>
